h2 {
  font-style: courier;
  font-weight: bold;
  color: #8FBC8F;
}

body {
  background-image: url('../img/leaves.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.profile {
  float: left;
  width: 10%;
  height: 10%;
}
.img-rounded {
  float: left;
  margin: 8px;
  border: 5px solid #8FBC8F;
  padding: 0px;
}
.panel-title {

}
