h1 {
  font-family: courier;
  font-weight: bold;
}

h2 {
  font-family: courier;
  font-weight: bold;
  color: #536878;
}

body {
  background-image: url('../img/leaves.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.img-rounded {
  float: left;
  margin: 8px;
  border: 5px solid #536878;
  padding: 0px;
}
.panel-title {
  font-family: courier;
  font-weight: bold;
  color: #4d5d53;
}
