
h1 {
  font-style: courier;
  font-weight: bold;
  color: white;
}

h2 {
  font-style: courier;
  font-weight: bold;
  color: white;
}

body {
  background-image: url('../img/leaves.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
